@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .btn {
    @apply transition-300 flex items-center justify-center rounded-md p-3 text-sm text-white font-semibold outline-none focus:outline-none;
  }

  .primary-btn {
    @apply btn bg-gradient-to-r from-primary to-secondary;
  }

  .base-input {
    @apply p-2 w-full bg-[#15191f] text-white ring-1 rounded-lg transition-300 outline-none focus:ring-2 ring-gray-400;
  }
}
